@import url('https://fonts.googleapis.com/css?family=Orbitron');

.contain{
 
  background: linear-gradient(-45deg,#ffffff,#000000,#101011,#fbfbfb);
  background-size: 400% 400%;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  animation: color 34s ease-in-out infinite;
  

}

@keyframes color {0%{
  background-position: 0 50%;
}
50%{
  background-position: 100% 50%;
}
100%{
  background-position: 0 50%;
}
}
 
button {
  color: #fff;
  font-family: Orbitron, sans-serif;
  border: none;
  background: var(--neon-bg);
  margin: 1.5em;
  padding: 0.6em 3em;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  outline: none;

}

.btn-blue {
  --neon-bg: repeating-linear-gradient(
      0deg,
      #72a0ed 0%,
      #72a0ed 2%,
      transparent 2%,
      transparent 14%
    ),
    rgba(33, 118, 255, 0.7);
  box-shadow: 0 0 1em #2176ff;
}

.btn-red {
  --neon-bg: repeating-linear-gradient(
      0deg,
      #ed7272 0%,
      #ed7272 2%,
      transparent 2%,
      transparent 14%
    ),
    rgba(255, 33, 33, 0.7);
  box-shadow: 0 0 1em #ff2121;
}

.btn-green {
  --neon-bg: repeating-linear-gradient(
      0deg,
      #72edd2 0%,
      #72edd2 2%,
      transparent 2%,
      transparent 14%
    ),
    rgba(19, 211, 45, 0.7);
  box-shadow: 0 0 1em #50c550;
}

button:hover {
  animation: flicker 200ms linear forwards;
}

.btn-blue:hover {
  color: #2176ff;
}

.btn-red:hover {
  color: #ff2121;
}

.btn-green:hover {
  color: #50c550;
}

button::before,
button::after {
  content: " ";
  position: absolute;
  top: 0%;
  width: 0.2em;
  height: 100%;
  background: #fff;
}

button::before {
  left: 0;
}

button::after {
  right: 0;
}

@keyframes flicker {
  0% {
    background: #fff;
  }
  25% {
    background: var(--neon-bg);
  }
  50% {
    background: #fff;
  }
  75% {
    background: var(--neon-bg);
  }
  100% {
    background: #fff;
  }
}

.topbtn{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;

}

.topbtn::before,
.topbtn::after {
  content: " ";
  position: absolute;
  top: 0%;
  width: 0.2em;
  height: 100%;
  background: #fff;
}

.topbtn::before {
  left: 0;
}

.topbtn::after {
  right: 0;
}

.game {
  height: 555px;
  width: 1280px;
  color:#fff;
  background: black
}

