@import url('https://fonts.googleapis.com/css?family=Orbitron|Ubuntu+Mono');

.contain{
  background: linear-gradient(-45deg,#ffffff,#000000,#101011,#fbfbfb);
  background-size: 400% 400%;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  animation: color 34s ease-in-out infinite;
}

@keyframes color {0%{
  background-position: 0 50%;
}
50%{
  background-position: 100% 50%;
}
100%{
  background-position: 0 50%;
}
}
 
button {
  color: #fff;
  font-family: Orbitron, sans-serif;
  border: none;
  background: var(--neon-bg);
  margin: 1.5em;
  padding: 0.6em 3em;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.container {
  width: 1280px;
  position: absolute;
  bottom: 0;
}

#prompt-input {
  z-index: 1;
  font-family: 'Ubuntu Mono', sans-serif;
  width: 1080px;
  margin: .1em;
  padding: .4em 1em;
  font-size: 1.2em;
  -webkit-text-fill-color: #c6c8cc;
  caret-color: #c6c8cc;
  background-color: #2b2b2b;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  bottom: 0;
  left: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #2b2b2b inset !important;
}

#confirm-btn {
  z-index: 1;
  color: #fff;
  font-family: Orbitron, sans-serif;
  border: none;
  background: var(--neon-bg);
  margin: .2em;
  padding: .3em .8em;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
  width: 180px;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: #a2a5aa;
  box-shadow: 0 0 1em #8f96a0;
}

.confirm:hover {
   animation: flicker 200ms linear forwards;
}

#confirm-btn:hover {
  color: #caced5;
}

.confirm-contain {
  display: inline;
}

.btn-blue {
  background-color: #3d6ab8;
  /* --neon-bg: repeating-linear-gradient(
      0deg,
      #72a0ed 0%,
      #72a0ed 2%,
      transparent 2%,
      transparent 14%
    ),
    rgba(33, 118, 255, 0.7); */
  box-shadow: 0 0 1em #2176ff;
}

.btn-red {
  background-color: #b63e3e;
  /* --neon-bg: repeating-linear-gradient(
      0deg,
      #ed7272 0%,
      #ed7272 2%,
      transparent 2%,
      transparent 14%
    ),
    rgba(255, 33, 33, 0.7); */
  box-shadow: 0 0 1em #ff2121;
}

.btn-green {
  background-color: #2fb04f;
  /* --neon-bg: repeating-linear-gradient(
      0deg,
      #72edd2 0%,
      #72edd2 2%,
      transparent 2%,
      transparent 14%
    ),
    rgba(19, 211, 45, 0.7); */
  box-shadow: 0 0 1em #50c550;
}

button:hover {
  animation: flicker 200ms linear forwards;
}

.btn-blue:hover {
  color: #2176ff;
}

.btn-red:hover {
  color: #ff2121;
}

.btn-green:hover {
  color: #50c550;
}

button::before,
button::after {
  content: " ";
  position: absolute;
  top: 0%;
  width: 0.2em;
  height: 100%;
  background: #fff;
}

button::before {
  left: 0;
}

button::after {
  right: 0;
}

@keyframes flicker {
  0% {
    background: #fff;
  }
  25% {
    background: var(--neon-bg);
  }
  50% {
    background: #fff;
  }
  75% {
    background: var(--neon-bg);
  }
  100% {
    background: #fff;
  }
}

.topbtn{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
}

.topbtn::before,
.topbtn::after {
  content: " ";
  position: absolute;
  top: 0%;
  width: 0.2em;
  height: 100%;
  background: #fff;
}

.topbtn::before {
  left: 0;
}

.topbtn::after {
  right: 0;
}

.game {
  text-shadow: 0 0 8px #C8C8C8;
  height: 555px;
  width: 1280px;
  color:#fff;
  background: rgb(10, 10, 10);
  padding: 10px 20px 0;
  position: relative;
}